.nav-list {
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  font-size: 16px;
}
.nav-list__item {
}
.nav-list__link {
  padding: 10px;
}