.products {
  //background-color: #f7f7f7;
  padding: 50px 0 90px;
}
.products__title {
  text-align: center;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 36px;
}
.products__tabs {
  text-align: center;
}
.products__link {
  text-align: center;
}
.products__slider-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

