.cart {
  align-self: center;
  justify-self: end;
  position: relative;
}
.cart__img {
  width: 30px;
}

.cart__count {
  position: absolute;
  top: -1px;
  right: -14px;
  background-color: var(--accent);
  border-radius: 40px;
  display: inline-block;
  height: 25px;
  padding: 0 7px;
  line-height: 25px;
  font-weight: 700;
  color: whitesmoke;
}